<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
      <a class="d-flex flex-center text-decoration-none mb-4" href="/">
        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
          <img src="/assets/img/icons/quang-hung-logo-crop.png" alt="quanghung" width="70"/>
        </div>
      </a>
      <div class="text-center mb-3">
        <h3 class="text-body-highlight">Đăng nhập</h3>
      </div>
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="mb-3 text-start">
          <label class="form-label" for="email">Email</label>
          <div class="form-icon-container">
            <input class="form-control form-icon-input" id="email" type="email" placeholder="email@gmail.com"
                   formControlName="email"/>
            <span class="fas fa-user text-body fs-9 form-icon"></span></div>
        </div>
        <div class="mb-3 text-start">
          <label class="form-label" for="password">Mật khẩu</label>
          <div class="form-icon-container">
            <input class="form-control form-icon-input" id="password" type="password" placeholder="Mật khẩu"
                   formControlName="password"/>
            <span class="fas fa-key text-body fs-9 form-icon"></span>
          </div>
        </div>
        <div class="row flex-between-center mb-3">
          <div class="col-auto">
            <div class="form-check mb-0"></div>
          </div>
          <div class="col-auto"><a class="fs-9 fw-semibold" routerLink="/forgot-password">Quên mật khẩu?</a></div>
        </div>
        <button class="btn btn-primary w-100 mb-3">Đăng nhập</button>
        <div class="text-center"><a class="fs-9 fw-bold" routerLink="/register">Tạo một tài khoản</a></div>
      </form>
    </div>
  </div>
</div>
