<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-body-highlight dark__bg-gray-1100 py-9">
  <div class="container-small">
    <div class="row justify-content-between gy-4">
      <div class="col-12 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <img src="/assets/img/icons/quang-hung-logo-crop.png" alt="KÍNH MẮT QUANG HƯNG" width="50"/>
          <p class="logo-text ms-2">KÍNH MẮT QUANG HƯNG</p>
        </div>
        <p class="text-body-tertiary mb-2 fw-semibold lh-sm fs-8">Công Ty TNHH Kính Mắt Quang Hưng - Quang Hung Optical
          Co.,Ltd</p>
        <p class="text-body-tertiary mb-2 fw-semibold lh-sm fs-8">
          <span class="fw-bold">Email: </span>kinhmatquanghung@gmail.com
        </p>
        <p class="text-body-tertiary mb-2 fw-semibold lh-sm fs-8">
          <span class="fw-bold">Fax: </span>+84-4-35.746.818
        </p>
      </div>
      <div class="col-6 col-md-4">
        <h5 class="fw-bolder mb-3">Hệ thống cửa hàng</h5>
        <div class="d-flex flex-column">
          <p class="text-body-tertiary fw-semibold fs-8 mb-1 text-wrap">
            <span class="fw-bold">Địa chỉ 1: </span> 20 Tôn Thất Tùng, Đống Đa - Hotline: 024.3574.6136
          </p>
          <p class="text-body-tertiary fw-semibold fs-8 mb-1 text-wrap">
            <span class="fw-bold">Địa chỉ 2: </span> 188 Ngọc Lâm, Long Biên, Hà Nội - Hotline: 024.3872.0808
          </p>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Liên hệ</h5>
        <div class="d-flex flex-column">
          <a class="mb-1 fw-semibold fs-8 d-flex" href="https://www.facebook.com/kinhmatquanghung.vn">
            <span class="fab fa-facebook-square text-primary me-2 fs-7"></span>
            <span class="text-body-secondary">Facebook</span>
          </a>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
