<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4">
      <a class="d-flex flex-center text-decoration-none mb-4" href="/">
        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
          <img src="/assets/img/icons/quang-hung-logo-crop.png" alt="quanghung" width="70"/>
        </div>
      </a>
      <div class="px-xxl-5">
        <div class="text-center mb-6">
          <h3 class="text-body-highlight">Quên mật khẩu?</h3>
          <p class="text-body-tertiary mb-5">Nhập email của bạn dưới đây và chúng tôi sẽ gửi bạn <br class="d-sm-none"/>mã
            xác minh để thiết lập lại</p>
          <form class="d-flex align-items-center mb-5 row">
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="email">Email</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="email" type="email" placeholder="email@gmail.com"/>
                  <span class="fas fa-user text-body fs-9 form-icon"></span></div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <div class="row">
                  <div class="col-9 pe-0">
                    <label class="form-label" for="email">Mã xác minh</label>
                    <div class="form-icon-container">
                      <input class="form-control form-icon-input" id="code" type="text" placeholder="123456"/>
                      <span class="fa-solid fa-list-ol text-body fs-9 form-icon"></span>
                    </div>
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="email"></label>
                    <button class="btn btn-primary">Gửi mã</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="password">Mật khẩu mới</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="password" type="password" placeholder="Mật khẩu"/>
                  <span class="fas fa-key text-body fs-9 form-icon"></span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-end">
                  <a class="btn btn-phoenix-secondary me-2" routerLink="/login">Hủy</a>
                  <button class="btn btn-primary">Đổi mật khẩu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
