<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4">
      <a class="d-flex flex-center text-decoration-none mb-4" href="/">
        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
          <img src="/assets/img/icons/quang-hung-logo-crop.png" alt="quanghung" width="70"/>
        </div>
      </a>
      <div class="px-xxl-5">
        <div class="text-center mb-6">
          <h3 class="text-body-highlight">Quên mật khẩu?</h3>
          <p class="text-body-tertiary mb-5">
            Nhập email của bạn dưới đây và chúng tôi sẽ gửi bạn
            <br class="d-sm-none"/>
            mã xác minh để thiết lập lại mật khẩu
          </p>
          <form class="d-flex align-items-center mb-5 row" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="email">Email</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="email" type="email" placeholder="email@gmail.com"
                         formControlName="email"/>
                  <span class="fas fa-user text-body fs-9 form-icon"></span>
                </div>
                <small class="text-danger mt-1" *ngIf="forgotPasswordForm['controls']['email'].dirty">
                  <span *ngIf="forgotPasswordForm['controls']['email'].errors?.['required']">
                    Email không được để trống
                  </span>
                  <span *ngIf="forgotPasswordForm['controls']['email'].errors?.['email']">
                    Email không hợp lệ
                  </span>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <div class="row">
                  <div class="pe-0" [class.col-9]="!isLoaderVerifyCodeDisplayNone"
                       [class.col-7]="isLoaderVerifyCodeDisplayNone">
                    <label class="form-label" for="verificationCode">Mã xác minh</label>
                    <div class="form-icon-container">
                      <input class="form-control form-icon-input" id="verificationCode" type="text"
                             placeholder="Mã xác minh" formControlName="verificationCode"/>
                      <span class="fa-solid fa-list-ol text-body fs-9 form-icon"></span>
                    </div>
                  </div>
                  <div class="" [class.col-3]="!isLoaderVerifyCodeDisplayNone"
                       [class.col-5]="isLoaderVerifyCodeDisplayNone">
                    <label class="form-label invisible" for="verificationCode">Mã xác minh</label>
                    <button class="btn btn-primary d-block px-3 ms-auto"
                            [disabled]="forgotPasswordForm['controls']['email'].invalid"
                            (click)="sendVerificationCode();">
                      <span [class.d-none]="isLoaderVerifyCodeDisplayNone">Gửi mã</span>
                      <span class="indicator-progress" [class.d-none]="!isLoaderVerifyCodeDisplayNone">
                        Vui lòng chờ...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="newPassword">Mật khẩu mới</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="newPassword" type="password" placeholder="Mật khẩu"
                         formControlName="newPassword"/>
                  <span class="fas fa-key text-body fs-9 form-icon"></span>
                </div>
                <small class="text-danger mt-1" *ngIf="forgotPasswordForm['controls']['newPassword'].dirty">
                  <span *ngIf="forgotPasswordForm['controls']['newPassword'].errors?.['required']">
                    Mật khẩu không được để trống
                  </span>
                  <div
                    *ngIf="forgotPasswordForm['controls']['newPassword'].errors?.['minlength'] || forgotPasswordForm['controls']['password'].errors?.['maxlength']">
                    Mật khẩu phải dài từ 8 đến 20 ký tự
                  </div>
                  <span *ngIf="forgotPasswordForm['controls']['newPassword'].errors?.['pattern']">
                    Mật khẩu phải có ít nhất 1 chữ hoa, 1 chữ thường, 1 số, 1 ký tự đặc biệt và dài hơn 8 ký tự
                  </span>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="newPassword">Xác nhận mật khẩu</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="confirmPassword" type="password"
                         placeholder="Xác nhận mật khẩu" formControlName="confirmPassword"/>
                  <span class="fas fa-key text-body fs-9 form-icon"></span>
                </div>
                <small class="text-danger mt-1" *ngIf="forgotPasswordForm['controls']['confirmPassword'].dirty">
                  <span *ngIf="forgotPasswordForm['controls']['confirmPassword'].errors?.['required']">
                    Mật khẩu không được để trống
                  </span>
                  <span
                    *ngIf="!forgotPasswordForm['controls']['confirmPassword'].errors?.['required'] && forgotPasswordForm.errors?.['mismatch']">
                    Mật khẩu không khớp
                  </span>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-end">
                <a class="btn btn-phoenix-secondary me-2" routerLink="/login">Hủy</a>
                <button class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">
                  <span [class.d-none]="isLoaderDisplayNone">Đổi mật khẩu</span>
                  <span class="indicator-progress" [class.d-none]="!isLoaderDisplayNone">
                    Vui lòng chờ...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
