<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
    <li class="breadcrumb-item">Quản lý danh mục</li>
    <li class="breadcrumb-item active">Banner</li>
  </ol>
</nav>
<div class="mb-9">
  <div class="row g-3 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">Danh sách banner</h2>
    </div>
  </div>
  <div id="supplier">
    <div class="mb-4">
      <div class="row g-3">
        <div class="col-auto">
          <div class="search-box">
            <form class="position-relative">
              <input class="form-control search-input search" type="text" placeholder="Tìm kiếm banner"
                     name="searchTemp" (input)="search()" [(ngModel)]="searchTemp"/>
              <span class="fas fa-search search-box-icon"></span>
            </form>
          </div>
        </div>
        <div class="col-auto ms-auto">
          <button class="btn btn-primary" data-bs-target="#modalSupplier" data-bs-toggle="modal"
                  (click)="openModalCreate()">
            <span class="fas fa-plus me-2"></span>Thêm banner
          </button>
        </div>
      </div>
    </div>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
      <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table fs--1 mb-0">
          <thead>
          <tr>
            <th class="white-space-nowrap fs--1 align-middle ps-0" style="max-width:20px; width:18px;">
              <div class="form-check mb-0 fs-0">
                <input class="form-check-input" id="checkbox-bulk-products-select" type="checkbox"
                       (input)="toggleSelectAll()"/>
              </div>
            </th>
            <th class="sort white-space-nowrap align-middle ps-4" scope="col" (click)="sortByField('name')">
              Tên banner
              <label [class.d-none]="sortBy === 'name' && (sortDir === 'DESC' || sortDir === 'ASC')">
                <span class="fas fa-sort align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'name' || sortDir !== 'ASC'">
                <span class="fas fa-sort-up align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'name' || sortDir !== 'DESC'">
                <span class="fas fa-sort-down align-middle fs-9"></span>
              </label>
            </th>
            <th class="sort white-space-nowrap align-middle ps-4" scope="col">
              Ảnh banner
            </th>
            <th class="sort align-middle ps-4" scope="col" (click)="sortByField('status')">
              Trạng thái
              <label [class.d-none]="sortBy === 'status' && (sortDir === 'DESC' || sortDir === 'ASC')">
                <span class="fas fa-sort align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'status' || sortDir !== 'ASC'">
                <span class="fas fa-sort-up align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'status' || sortDir !== 'DESC'">
                <span class="fas fa-sort-down align-middle fs-9"></span>
              </label>
            </th>
            <th class="sort align-middle ps-4" scope="col" (click)="sortByField('createdDate')">
              Ngày tạo
              <label [class.d-none]="sortBy === 'createdDate' && (sortDir === 'DESC' || sortDir === 'ASC')">
                <span class="fas fa-sort align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'createdDate' || sortDir !== 'ASC'">
                <span class="fas fa-sort-up align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'createdDate' || sortDir !== 'DESC'">
                <span class="fas fa-sort-down align-middle fs-9"></span>
              </label>
            </th>
            <th class="sort align-middle ps-3" scope="col" (click)="sortByField('updatedDate')">
              Ngày sửa
              <label [class.d-none]="sortBy === 'updatedDate' && (sortDir === 'DESC' || sortDir === 'ASC')">
                <span class="fas fa-sort align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'updatedDate' || sortDir !== 'ASC'">
                <span class="fas fa-sort-up align-middle fs-9"></span>
              </label>
              <label [class.d-none]="sortBy !== 'updatedDate' || sortDir !== 'DESC'">
                <span class="fas fa-sort-down align-middle fs-9"></span>
              </label>
            </th>
            <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
          </tr>
          </thead>
          <tbody class="list" id="supplier-table-body">
          <tr *ngIf="paginationDTO.content.length <= 0">
            <td colspan="7" class="text-center">
              <span class="fs-7">Không có dữ liệu</span>
            </td>
          </tr>
          <tr class="position-static" *ngFor="let banner of paginationDTO.content">
            <td class="fs--1 align-middle">
              <div class="form-check mb-0 fs-0">
                <input class="form-check-input" type="checkbox" [value]="banner.id" [checked]="selectAll"/>
              </div>
            </td>
            <td class="align-middle ps-4">{{ banner.name }}</td>
            <td class="align-middle ps-4">
              <img src="{{baseUrl}}/images/{{banner.image}}" alt="image" class="img-thumbnail"
                   style="width: 100px; height: 100px; object-fit: contain">
            </td>
            <td class="align-middle white-space-nowrap text-600 ps-4">
              <span class="text-success" *ngIf="banner.status">Hiển thị</span>
              <span class="text-danger" *ngIf="!banner.status">Ẩn</span>
            </td>
            <td class="align-middle white-space-nowrap text-600 ps-4">
              {{ banner.createdDate | date:'dd/MM/yyyy HH:mm:ss' }}
            </td>
            <td class="align-middle white-space-nowrap text-600 ps-3">
              {{ banner.updatedDate | date:'dd/MM/yyyy HH:mm:ss' }}
            </td>
            <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
              <div class="font-sans-serif btn-reveal-trigger position-static">
                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                        type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                        aria-expanded="false" data-bs-reference="parent">
                  <span class="fas fa-ellipsis-h fs--2"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end py-2">
                  <button class="dropdown-item" data-bs-target="#modalDetails" data-bs-toggle="modal"
                          (click)="detail(banner.id)">Chi tiết
                  </button>
                  <button class="dropdown-item" data-bs-target="#modalSupplier" data-bs-toggle="modal"
                          (click)="openModalUpdate(banner)">Cập nhật
                  </button>
                  <button class="dropdown-item" (click)="updateStatus(banner)">
                    <span *ngIf="banner.status">Ẩn</span>
                    <span *ngIf="!banner.status">Hiển thị</span>
                  </button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item text-danger" (click)="delete(banner.id)">Xóa</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row align-items-center py-2 pe-0 fs--1">
        <div class="col-auto d-flex">
          <label>
            <select class="form-select form-select-sm form-select-solid" name="sizeSelected"
                    [(ngModel)]="paginationDTO.pageSize" (change)="changePageSize(paginationDTO.pageSize)">
              <option value="5" [selected]="paginationDTO.pageSize == 5">5</option>
              <option value="10" [selected]="paginationDTO.pageSize == 10">10</option>
              <option value="25" [selected]="paginationDTO.pageSize == 25">25</option>
              <option value="50" [selected]="paginationDTO.pageSize == 50">50</option>
              <option value="100" [selected]="paginationDTO.pageSize == 100">100</option>
            </select>
          </label>
        </div>
        <div class="col-auto d-flex">
          <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900">
            Hiển thị {{ paginationDTO.firstElementOnPage }} đến {{ paginationDTO.lastElementOnPage }}
            <span class="text-body-tertiary"> của </span>{{ paginationDTO.totalElements }} danh mục
          </p>
        </div>
        <div class="col-auto ms-auto d-flex">
          <button type="button" class="page-link" (click)="changePageNumber(1)"
                  [class.disabled]="paginationDTO.pageNumber <= 1">
            <span class="fas fa-angle-double-left"></span>
          </button>
          <button type="button" class="page-link" (click)="changePageNumber(paginationDTO.pageNumber - 1)"
                  [class.disabled]="paginationDTO.pageNumber <= 1">
            <span class="fas fa-angle-left"></span>
          </button>
          <ul class="mb-0 pagination">
            <li class="page-item"
                *ngFor="let i of Utils.getVisiblePages(paginationDTO.pageNumber, paginationDTO.totalPages, 5)"
                [class.active]="i === paginationDTO.pageNumber">
              <button type="button" class="page-link" (click)="changePageNumber(i)">{{ i }}</button>
            </li>
          </ul>
          <button type="button" class="page-link" (click)="changePageNumber(paginationDTO.pageNumber + 1)"
                  [class.disabled]="paginationDTO.pageNumber >= paginationDTO.totalPages">
            <span class="fas fa-angle-right"></span>
          </button>
          <button type="button" class="page-link" (click)="changePageNumber(paginationDTO.totalPages)"
                  [class.disabled]="paginationDTO.pageNumber >= paginationDTO.totalPages">
            <span class="fas fa-angle-double-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalSupplier" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSupplierLabel">{{ titleModal }}</h5>
        <button class="btn p-1" data-bs-dismiss="modal" aria-label="Close" #btnCloseModal>
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form class="form" [formGroup]="bannerForm" (submit)="onSubmit()" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label fs-9" for="name">Tên banner</label>
            <div class="col-sm-9">
              <input class="form-control" id="name" type="text" formControlName="name" placeholder="Tên banner">
              <small class="text-danger mt-1" *ngIf="bannerForm['controls']['name'].dirty">
                <span *ngIf="bannerForm['controls']['name'].errors?.['required']">
                  Tên banner không được để trống
                </span>
                <span *ngIf="bannerForm['controls']['name'].errors?.['maxlength']">
                  Tên banner không được vượt quá 50 ký tự
                </span>
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label fs-9" for="name">Ảnh</label>
            <div class="col-sm-9">
              <div class="d-flex align-items-end position-relative form-control">
                <input class="d-none" id="upload-avatar" type="file" formControlName="multipartFileImage"
                       (change)="onFileChange($event)"/>
                <div class="hoverbox w-100">
                  <div class="hoverbox-content d-flex flex-center z-1" style="--phoenix-bg-opacity: .56;"
                       *ngIf="bannerForm['controls']['multipartFileImage'].value !== null">
                    <span class="fa-solid fa-camera fs-1 text-body-quaternary"></span>
                  </div>
                  <div class="position-relative cursor-pointer d-flex flex-center">
                    <div class="avatar">
                      <img class="" [src]="selectedImageUrl || '/assets/img/icons/image-icon.png'" alt=""/>
                    </div>
                    <label class="w-100 h-100 position-absolute z-1" for="upload-avatar"></label>
                  </div>
                </div>
              </div>
              <small class="text-danger mt-1" *ngIf="bannerForm['controls']['multipartFileImage'].errors?.['required']">
                Vui lòng chọn ảnh banner
              </small>
            </div>
          </div>
          <div class="row">
            <label class="col-form-label col-sm-3 fs-9 m-auto">Trạng thái</label>
            <div class="col-sm-9 m-auto">
              <div class="form-check form-check-inline mb-0">
                <input class="form-check-input" type="radio" name="status" value="false"
                       formControlName="status"/>
                <label class="form-check-label fs-9">Ẩn</label>
              </div>
              <div class="form-check form-check-inline mb-0">
                <input class="form-check-input" type="radio" name="status" value="true"
                       formControlName="status"/>
                <label class="form-check-label fs-9">Hiện</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" [disabled]="bannerForm.invalid">
            <span [class.d-none]="isDisplayNone">{{ btnSave }}</span>
            <span class="indicator-progress" [class.d-none]="!isDisplayNone">
              Vui lòng chờ...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </button>

          <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Quay lại</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Modal Details-->
<div class="modal fade" id="modalDetails" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailsCategoryLabel">Chi tiết banner</h5>
        <button class="btn p-1" data-bs-dismiss="modal" aria-label="Close">
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form class="form">
        <div class="modal-body">
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="name">Tên banner</label>
            <div class="col-sm-8 col-form-label fs-9 fw-medium">
              {{ bannerDetails.name }}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9">Ảnh</label>
            <div class="col-sm-8 col-form-label fs-9">
              <img src="{{baseUrl}}/images/{{bannerDetails.image}}" alt="image" class="img-thumbnail"
                   style="object-fit: contain">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9">Trạng thái</label>
            <div class="col-sm-8 col-form-label fs-9 fw-medium">
              <span class="text-success" *ngIf="bannerDetails.status">Hiển thị</span>
              <span class="text-danger" *ngIf="!bannerDetails.status">Ẩn</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9">Ngày tạo</label>
            <div class="col-sm-8 col-form-label fs-9 fw-medium">
              {{ bannerDetails.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9">Ngày sửa</label>
            <div class="col-sm-8 col-form-label fs-9 fw-medium">
              {{ bannerDetails.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--End Modal Details-->
