<div class="px-3">
  <div class="row min-vh-100 flex-center p-5">
    <div class="col-12 col-xl-10 col-xxl-8">
      <div class="row justify-content-center align-items-center g-5">
        <div class="col-12 col-lg-6 text-center order-lg-1">
          <img class="img-fluid w-lg-100 d-dark-none" alt="" width="400"
               src="../../assets/img/spot-illustrations/403-illustration.png"/>
          <img class="img-fluid w-md-50 w-lg-100 d-light-none" alt="" width="540"
               src="../../assets/img/spot-illustrations/dark_403-illustration.png"/>
        </div>
        <div class="col-12 col-lg-6 text-center text-lg-start">
          <img class="img-fluid mb-6 w-50 w-lg-75 d-dark-none" alt=""
               src="../../assets/img/spot-illustrations/403.png"/>
          <img class="img-fluid mb-6 w-50 w-lg-75 d-light-none" alt=""
               src="../../assets/img/spot-illustrations/dark_403.png"/>
          <h2 class="text-800 fw-bolder mb-3">Bạn không có quyền truy cập!</h2>
          <a class="btn btn-lg btn-primary" href="/">Quay về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</div>
