<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0">
  <div class="container-small">
    <h2 class="mb-5">Thanh toán</h2>
    <div class="row justify-content-between">
      <div class="col-lg-6 col-xl-6">
        <form [formGroup]="orderForm" enctype="multipart/form-data" (submit)="onSubmit()">
          <div class="d-flex align-items-end">
            <h3 class="mb-0 me-3">Thông tin khách hàng</h3>
          </div>
          <table class="table table-borderless mt-4">
            <tbody>
            <tr>
              <td class="py-2 px-0 align-middle">
                <div class="d-flex">
                  <span class="fs-3 me-2" data-feather="user" style="height:16px; width:16px;"> </span>
                  <h5 class="lh-sm">
                    Người nhận <sup class="text-danger">*</sup>
                  </h5>
                </div>
              </td>
              <td class="py-2 ps-0 align-middle">
                <input class="form-control" type="text" formControlName="fullname" appNoLeadingSpace/>
                <small class="text-danger mt-1" *ngIf="orderForm['controls']['fullname'].dirty">
                  <span *ngIf="orderForm['controls']['fullname'].errors?.['required']">
                    Tên người nhận không được để trống
                  </span>
                  <span *ngIf="orderForm['controls']['fullname'].errors?.['maxlength']">
                    Tên khách hàng không được vượt quá 30 ký tự
                  </span>
                </small>
              </td>
            </tr>
            <tr>
              <td class="py-2 px-0 align-middle">
                <div class="d-flex">
                  <span class="fs-3 me-2" data-feather="phone" style="height:16px; width:16px;"> </span>
                  <h5 class="lh-sm">
                    Số điện thoại <sup class="text-danger">*</sup>
                  </h5>
                </div>
              </td>
              <td class="py-2 ps-0 align-middle">
                <input class="form-control" type="text" formControlName="phone" appOnlyNumberDirective appNoLeadingSpace/>
                <small class="text-danger mt-1" *ngIf="orderForm['controls']['phone'].dirty">
                  <span *ngIf="orderForm['controls']['phone'].errors?.['required']">
                    Số điện thoại người nhận không được để trống
                  </span>
                  <span *ngIf="orderForm['controls']['phone'].errors?.['maxlength']
                    || orderForm['controls']['phone'].errors?.['minlength']">
                    Số điện thoại phải đủ 10 số
                  </span>
                  <span *ngIf="!(orderForm['controls']['phone'].errors?.['maxlength']
                                  || orderForm['controls']['phone'].errors?.['minlength'])
                                  && orderForm['controls']['phone'].errors?.['pattern']">
                    Số điện thoại không hợp lệ
                  </span>
                </small>
              </td>
            </tr>
            <tr>
              <td class="py-2 px-0 align-middle">
                <div class="d-flex">
                  <span class="fs-3 me-2" data-feather="home" style="height:16px; width:16px;"> </span>
                  <h5 class="lh-sm">
                    Đia chỉ <sup class="text-danger">*</sup>
                  </h5>
                </div>
              </td>
              <td class="py-2 ps-0 align-middle">
                <input class="form-control" formControlName="address" type="text" appNoLeadingSpace/>
                <small class="text-danger mt-1" *ngIf="orderForm['controls']['address'].dirty">
                  <span *ngIf="orderForm['controls']['address'].errors?.['required']">
                    Địa chỉ giao hàng không được để trống
                  </span>
                  <span *ngIf="orderForm['controls']['address'].errors?.['maxlength']">
                      Địa chỉ không được vượt quá 200 ký tự
                    </span>
                </small>
              </td>
            </tr>
            <tr>
              <td class="py-2 px-0 align-middle">
                <div class="d-flex">
                  <span class="fs-3 me-2" data-feather="clipboard" style="height:16px; width:16px;"> </span>
                  <h5 class="lh-sm">
                    Ghi chú
                  </h5>
                </div>
              </td>
              <td class="py-2 ps-0 align-middle">
                <textarea class="form-control" rows="3" formControlName="note" appNoLeadingSpace></textarea>
              </td>
            </tr>
            <tr>
              <td class="py-2 px-0 align-middle" colspan="2">
                <div class="d-flex">
                  <h5 class="lh-sm">
                    Phiếu khám mắt
                    <span class="fw-normal">(Phiếu khám mắt được cung cấp bởi kỹ thuật viên đo khúc xạ. Bao gồm các thông số quan
                    trọng như số độ cận, viễn loạn, số đo PD… giúp chúng tôi cắt kính chính xác và thoải mái nhất cho
                    đôi mắt của bạn.)</span>
                  </h5>
                </div>
              </td>
            </tr>
            <tr>
              <td class="py-2 px-0 align-middle" colspan="2">
                <input class="form-control" id="eyeglassPrescriptionImage" type="file" (change)="onFileChange($event)"/>
              </td>
            </tr>
            <tr *ngIf="selectedEyeglassPrescriptionUrl != ''">
              <td class="pt-2 pb-0 ps-0 align-middle" colspan="2">
                <div class="position-relative text-decoration-none product-card h-100 m-auto" style="width: 200px">
                  <div class="d-flex flex-column justify-content-between h-100">
                    <div class="border border-1 border-translucent rounded-3 position-relative">
                      <button (click)="removeEyeglassPrescription()"
                              class="btn rounded-circle border-0 p-0 d-flex flex-center btn-wish z-2 d-toggle-container btn-outline-secondary">
                        <span class="fa-solid fa-xmark"></span>
                      </button>
                      <img class="img-fluid" [src]="selectedEyeglassPrescriptionUrl" alt=""/>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <hr class="my-6">
          <h3 class="mb-5">Phương thức thanh toán</h3>
          <div class="row g-4 mb-7">
            <div class="col-12">
              <div class="row gx-lg-11">
                <div class="col-12 col-md-auto">
                  <div class="d-flex">
                    <div class="form-check">
                      <input class="form-check-input" id="0" type="radio" name="paymentMethod" value="0"
                             formControlName="paymentMethod"/>
                      <label class="form-check-label fs-8 text-body me-3" for="0">
                        Thanh toán khi nhận hàng
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="form-check">
                    <input class="form-check-input" id="1" type="radio" name="paymentMethod" value="1"
                           formControlName="paymentMethod"/>
                    <label class="form-check-label fs-8 text-body" for="1">VNPay </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-2 mb-5 mb-lg-0">
            <div class="col-md-12 col-lg-12 d-grid">
              <button class="btn btn-primary" type="submit" [disabled]="orderForm.invalid">
                Thanh toán
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="card mt-3 mt-lg-0">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="mb-0">Đơn hàng</h3>
              <button class="btn btn-link pe-0" type="button">
                <a routerLink="/gio-hang">
                  Giỏ hàng<span class="fas fa-chevron-right ms-1 fs-10"></span>
                </a>
              </button>
            </div>
            <div class="border-dashed border-bottom border-translucent mt-4">
              <div class="ms-n2">
                <div class="row align-items-center mb-2 g-3" *ngFor="let item of cartsItems">
                  <div class="col-8 col-md-7 col-lg-8">
                    <div class="d-flex align-items-center">
                      <img class="me-2 ms-1" [src]="baseUrl + item.productDetailsThumbnails" width="40" alt=""/>
                      <h6 class="fw-semibold text-body-highlight lh-base line-clamp-3">
                        {{ item.productName }} (Màu {{ item.productColor }})
                      </h6>
                    </div>
                  </div>
                  <div class="col-2 col-md-3 col-lg-2">
                    <h6 class="fs-10 mb-0">x{{ item.quantity }}</h6>
                  </div>
                  <div class="col-2 ps-0">
                    <h5 class="mb-0 fw-semibold text-end text-nowrap">
                      {{ item.productPrice | currency:'VND':true:'1.0-0' }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-dashed border-bottom border-translucent mt-4">
              <div class="d-flex justify-content-between mb-2">
                <h5 class="text-body fw-semibold">Tổng số sản phẩm: </h5>
                <h5 class="text-body fw-semibold">{{ cartsItems.length }}</h5>
              </div>
              <!--              <div class="d-flex justify-content-between mb-2">-->
              <!--                <h5 class="text-body fw-semibold">Giảm giá: </h5>-->
              <!--                <h5 class="text-danger fw-semibold">-->
              <!--                  - {{ 0 | currency:'VND':true:'1.0-0' }}-->
              <!--                </h5>-->
              <!--              </div>-->
              <!--              <div class="d-flex justify-content-between mb-3">-->
              <!--                <h5 class="text-body fw-semibold">Phí vận chuyển </h5>-->
              <!--                <h5 class="text-body fw-semibold">-->
              <!--                  {{ 30000 | currency:'VND':true:'1.0-0' }}-->
              <!--                </h5>-->
              <!--              </div>-->
            </div>
            <div class="d-flex justify-content-between border-dashed-y pt-3">
              <h4 class="mb-0">Tổng đơn:</h4>
              <h4 class="mb-0">
                {{ totalMoney | currency:'VND':true:'1.0-0' }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
