<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
    <li class="breadcrumb-item">Quản lý hóa đơn nhập</li>
    <li class="breadcrumb-item active">{{ titleString }}</li>
  </ol>
</nav>
<form class="mb-9" [formGroup]="receiptForm" enctype="multipart/form-data" (submit)="onSubmit()">
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">{{ titleString }}</h2>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-xl-12">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="mb-3">Nhà cung cấp <sup class="text-danger">*</sup></h4>
          <ng-select formControlName="supplierId">
            <ng-option *ngFor="let supplier of suppliers" [value]="supplier.id">
              {{ supplier.name }}
            </ng-option>
          </ng-select>
          <small class="text-danger mt-1" *ngIf="receiptForm['controls']['supplierId'].dirty">
            <span *ngIf="receiptForm['controls']['supplierId'].errors?.['required']">
              Nhà cung cấp không được để trống
            </span>
          </small>
        </div>
        <div class="col-sm-6">
          <h4 class="mb-3">Trạng thái thanh toán <sup class="text-danger">*</sup></h4>
          <div class="m-auto">
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input" type="radio" name="status" value="false"
                     formControlName="status"/>
              <label class="form-check-label fs-9">Chưa thanh toán</label>
            </div>
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input" type="radio" name="status" value="true"
                     formControlName="status"/>
              <label class="form-check-label fs-9">Đã thanh toán</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-12">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Chi tiết hóa đơn <sup class="text-danger">*</sup></h4>
              <div class="row g-3" formArrayName="receiptDetails">
                <div class="col-3 col-sm-3 col-xl-3" *ngFor="let details of receiptDetails.controls; let i = index">
                  <div class="border-bottom border-translucent border-dashed border-sm-0 border-bottom-xl pb-4"
                       [formGroupName]="i">
                    <div class="d-flex flex-wrap mb-2">
                      <span class="text-body-highlight me-2 fs-9 fw-bold">
                        Sản phẩm {{ i + 1 }}
                        <sup class="text-danger">*</sup>
                      </span>
                      <a class="fw-bold fs-9" href="javascript:void(0);" (click)="removeReceiptDetails(i)">Xóa</a>
                    </div>
                    <ng-select formControlName="supplierId">
                      <ng-option *ngFor="let supplier of products" [value]="supplier.id">
                        {{ supplier.name }}
                      </ng-option>
                    </ng-select>
                    <small class="text-danger mt-1" *ngIf="details.get('color')?.dirty">
                      <span *ngIf="details.get('color')?.hasError('required')">
                        Màu sắc không được để trống
                      </span>
                    </small>
                  </div>
                </div>
              </div>
              <small class="text-danger mt-1">
                <span *ngIf="receiptForm['controls']['receiptDetails'].errors?.['required']">
                  Chi tiết hóa đơn không được để trống
                </span>
              </small>
              <button class="btn btn-phoenix-primary w-100" type="button" (click)="addReceiptDetails()"
                      [disabled]="receiptForm['controls']['receiptDetails'].invalid
                      && !receiptForm['controls']['receiptDetails'].errors?.['required']">
                Thêm sản phẩm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end mt-3 mb-5">
    <div class="col-auto">
      <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" href="/admin/product">
        Quay lại
      </a>
      <button class="btn btn-primary mb-2 mb-sm-0" type="submit" [disabled]="receiptForm.invalid">
        <span [class.d-none]="isDisplayNone">{{ btnSave }}</span>
        <span class="indicator-progress" [class.d-none]="!isDisplayNone">
          Vui lòng chờ...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </div>
</form>
