<ul class="navbar-nav navbar-nav-icons flex-row">
  <li class="nav-item dropdown">
    <a class="nav-link" href="#" style="min-width: 2.25rem" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false" data-bs-auto-close="outside">
      <span data-feather="bell" style="height:20px;width:20px;"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret"
         id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
      <div class="card position-relative border-0">
        <div class="card-header p-2">
          <div class="d-flex justify-content-between">
            <h5 class="text-body-emphasis mb-0">Notificatons</h5>
            <button class="btn btn-link p-0 fs-9 fw-normal" type="button">Mark all as read</button>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="scrollbar-overlay" style="height: 27rem;">
            <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
              <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                  <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                                                                       src="../../../../assets/img/avatar/40x40/30.webp" alt=""/>
                  </div>
                  <div class="flex-1 me-sm-3">
                    <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                    <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned
                      you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">10m</span>
                    </p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                      class="fw-bold">10:41 AM </span>August 7,2021</p>
                  </div>
                </div>
                <div class="d-none d-sm-block">
                  <button
                    class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                    unread</a></div>
                </div>
              </div>
            </div>
            <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
              <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                  <div class="avatar avatar-m status-online me-3">
                    <div class="avatar-name rounded-circle"><span>J</span></div>
                  </div>
                  <div class="flex-1 me-sm-3">
                    <h4 class="fs-9 text-body-emphasis">Jane Foster</h4>
                    <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>📅</span>Created
                      an event.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">20m</span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                      class="fw-bold">10:20 AM </span>August 7,2021</p>
                  </div>
                </div>
                <div class="d-none d-sm-block">
                  <button
                    class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                    unread</a></div>
                </div>
              </div>
            </div>
            <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
              <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                  <div class="avatar avatar-m status-online me-3"><img class="rounded-circle avatar-placeholder"
                                                                       src="../../../../assets/img/avatar/40x40/avatar.webp" alt=""/>
                  </div>
                  <div class="flex-1 me-sm-3">
                    <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                    <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked
                      your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">1h</span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                      class="fw-bold">9:30 AM </span>August 7,2021</p>
                  </div>
                </div>
                <div class="d-none d-sm-block">
                  <button
                    class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                    unread</a></div>
                </div>
              </div>
            </div>
            <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
              <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                  <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                                                                       src="../../../../assets/img/avatar/40x40/57.webp" alt=""/>
                  </div>
                  <div class="flex-1 me-sm-3">
                    <h4 class="fs-9 text-body-emphasis">Kiera Anderson</h4>
                    <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned
                      you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                      class="fw-bold">9:11 AM </span>August 7,2021</p>
                  </div>
                </div>
                <div class="d-none d-sm-block">
                  <button
                    class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                    unread</a></div>
                </div>
              </div>
            </div>
            <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
              <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                  <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                                                                       src="../../../../assets/img/avatar/40x40/59.webp" alt=""/>
                  </div>
                  <div class="flex-1 me-sm-3">
                    <h4 class="fs-9 text-body-emphasis">Herman Carter</h4>
                    <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👤</span>Tagged
                      you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                      class="fw-bold">10:58 PM </span>August 7,2021</p>
                  </div>
                </div>
                <div class="d-none d-sm-block">
                  <button
                    class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                    unread</a></div>
                </div>
              </div>
            </div>
            <div class="px-2 px-sm-3 py-3 notification-card position-relative read ">
              <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                  <div class="avatar avatar-m status-online me-3"><img class="rounded-circle"
                                                                       src="../../../../assets/img/avatar/40x40/58.webp" alt=""/>
                  </div>
                  <div class="flex-1 me-sm-3">
                    <h4 class="fs-9 text-body-emphasis">Benjamin Button</h4>
                    <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked
                      your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span
                      class="fw-bold">10:18 AM </span>August 7,2021</p>
                  </div>
                </div>
                <div class="d-none d-sm-block">
                  <button
                    class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as
                    unread</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0 border-top border-translucent border-0">
          <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85"><a class="fw-bolder"
                                                                                             href="pages/notifications.html">Notification
            history</a></div>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown"
       data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
      <div class="avatar avatar-l">
        <img class="rounded-circle " ngSrc="assets/img/avatar/avatar-placeholder.webp" alt="" height="40" width="40"/>
      </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
         aria-labelledby="navbarDropdownUser">
      <div class="card position-relative border-0">
        <div class="card-body p-0">
          <div class="text-center pt-4 pb-3">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" ngSrc="assets/img/avatar/avatar-placeholder.webp" alt="" height="72" width="72"/>
            </div>
            <h6 class="mt-2 text-body-emphasis">Việt Tú</h6>
          </div>
        </div>
        <div class="card-footer p-0 border-top border-translucent">
          <div class="px-3 my-3">
            <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!">
              <span class="me-2" data-feather="log-out"></span>Đăng xuất
            </a>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
