<div class="row flex-center">
  <div class="col-sm-9 col-md-8 col-lg-4 col-xl-4 col-xxl-3">
    <div class="text-center mb-5">
      <div class="avatar avatar-4xl mb-4 border rounded-circle bg-success align-content-center">
        <span class="fa-solid fa-check fs-3 text-white m-auto"></span>
      </div>
      <h2 class="text-body-highlight">
        <span class="fw-normal">Thanh toán đơn hàng thành công</span>
      </h2>
    </div>
    <a class="btn btn-primary w-100" href="/don-hang/{{orderId}}">Xem chi tiết đơn hàng</a>
  </div>
</div>
