<nav class="ecommerce-navbar navbar-expand navbar-light bg-body-emphasis justify-content-between">
  <div class="container-small d-flex flex-between-center justify-content-center" data-navbar="data-navbar">
    <ul class="p-3 navbar-nav align-items-center">
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link ps-0 active" href="/">Home</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="favourite-stores.html">My Favorites Stores</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="products-filter.html">Products</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="wishlist.html">Wishlist</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="shipping-info.html">Shipping Info</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="../admin/add-product.html">Be a vendor</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="order-tracking.html">Track order</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link pe-0" href="checkout.html">Checkout</a>
      </li>
    </ul>
  </div>
</nav>
