<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
    <li class="breadcrumb-item">Quản lý sản phẩm</li>
    <li class="breadcrumb-item active">{{ titleString }}</li>
  </ol>
</nav>
<form class="mb-9" [formGroup]="productForm">
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">{{ titleString }}</h2>
    </div>
    <div class="col-auto">
      <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" href="/admin/product">
        Quay lại
      </a>
      <!--      <button class="btn btn-phoenix-primary me-2 mb-2 mb-sm-0" type="button">-->
      <!--        Lưu nháp-->
      <!--      </button>-->
      <button class="btn btn-primary mb-2 mb-sm-0" type="submit">
        Thêm mới
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-xl-8">
      <div class="row">
        <div class="col-3">
          <h4 class="mb-3">Ảnh sản phẩm</h4>
          <div class="d-flex align-items-end position-relative mb-7">
            <input class="d-none" id="upload-avatar" type="file" (change)="onFileChange($event)"/>
            <div class="hoverbox" style="width: 150px; height: 150px">
              <div class="hoverbox-content rounded-circle d-flex flex-center z-1" style="--phoenix-bg-opacity: .56;">
                <span class="fa-solid fa-camera fs-1 text-body-quaternary"></span>
              </div>
              <div class="position-relative bg-body-emphasis rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">
                <div class="avatar avatar-5xl">
                  <img class="rounded-circle" [src]="selectedImageUrl || '/assets/img/icons/image-icon.png'"
                       [ngStyle]="selectedImageUrl === '' ? {'object-fit': 'none'} : {'object-fit': 'cover'}"
                       alt="ảnh sản phẩm"/>
                </div>
                <label class="w-100 h-100 position-absolute z-1" for="upload-avatar"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <h4 class="mb-3">Tên sản phẩm</h4>
          <input class="form-control mb-5" type="text" formControlName="name"/>

          <h4 class="mb-3">Slug</h4>
          <input class="form-control mb-5" type="text" formControlName="slug"/>
        </div>
      </div>
      <div class="mb-6">
        <h4 class="mb-3">Mô tả sản phẩm</h4>
        <editor [init]="editorConfig"></editor>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body pb-1">
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Giá bán</h5>
                    </div>
                    <input class="form-control mb-3" type="text"/>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Danh mục</h5>
                      <a class="fw-bold fs-9" href="#!">Thêm mới danh mục</a>
                    </div>
                    <ng-select>
                      <ng-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Xuất xứ</h5>
                      <a class="fw-bold fs-9" href="#!">Thêm mới xuất xứ</a>
                    </div>
                    <ng-select>
                      <ng-option *ngFor="let origin of origins" [value]="origin.id">
                        {{ origin.name }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Thương hiệu</h5>
                      <a class="fw-bold fs-9" href="#!">Thêm mới thương hiệu</a>
                    </div>
                    <ng-select>
                      <ng-option *ngFor="let brand of brands" [value]="brand.id">
                        {{ brand.name }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Hình dạng</h5>
                      <a class="fw-bold fs-9" href="#!">Thêm mới hình dạng</a>
                    </div>
                    <ng-select>
                      <ng-option *ngFor="let shape of shapes" [value]="shape.id">
                        {{ shape.name }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Chất liệu</h5>
                      <a class="fw-bold fs-9" href="#!">Thêm mới chất liệu</a>
                    </div>
                    <ng-select>
                      <ng-option *ngFor="let material of materials" [value]="material.id">
                        {{ material.name }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-12 mt-0">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Chi tiết sản phẩm</h4>
              <div class="row g-3" formArrayName="productDetails">
                <div class="col-6 col-sm-6 col-xl-6"
                     *ngFor="let details of productForm['controls']['productDetails'].value; let ii = index">
                  <div class="border-bottom border-translucent border-dashed border-sm-0 border-bottom-xl pb-4"
                       [formGroupName]="ii">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="text-body-highlight me-2">Chi tiết {{ ii + 1 }}</h5>
                      <a class="fw-bold fs-9" href="#!">Xóa</a>
                    </div>
                    <input class="form-control mb-3" type="text" placeholder="Màu sắc" formControlName="color"/>

                    <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone"
                         data-dropzone="data-dropzone">
                      <div class="fallback">
                        <input name="file" type="file" multiple="multiple" formControlName="imageFile"/>
                      </div>
                      <div class="dz-preview d-flex flex-wrap">
                        <div
                          class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2"
                          style="height:80px;width:80px;">
                          <img class="dz-image" data-dz-thumbnail="data-dz-thumbnail"/>
                          <a class="dz-remove text-body-quaternary" href="#!" data-dz-remove="data-dz-remove">
                            <span data-feather="x"></span>
                          </a>
                        </div>
                      </div>
                      <div class="dz-message text-body-tertiary text-opacity-85" data-dz-message="data-dz-message">
                        Kéo ảnh vào đây<span class="text-body-secondary px-1">hoặc</span>
                        <button class="btn btn-link p-0" type="button"> hoặc Duyệt từ thiết bị</button>
                        <br/>
                        <img class="mt-3 me-2" src="/assets/img/icons/image-icon.png" width="40" alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-xl-6">
                  <div class="border-bottom border-translucent border-dashed border-sm-0 border-bottom-xl pb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="text-body-highlight me-2">Chi tiết </h5>
                      <a class="fw-bold fs-9" href="#!">Xóa</a>
                    </div>
                    <input class="form-control mb-3" type="text" placeholder="Màu sắc"/>

                    <div class="dropzone dropzone-multiple p-0 mb-5" id=""
                         data-dropzone="data-dropzone">
                      <div class="fallback"><input name="file" type="file" multiple="multiple"/></div>
                      <div class="dz-preview d-flex flex-wrap">
                        <div
                          class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2"
                          style="height:80px;width:80px;">
                          <img class="dz-image" data-dz-thumbnail="data-dz-thumbnail"/>
                          <a class="dz-remove text-body-quaternary" href="#!" data-dz-remove="data-dz-remove">
                            <span data-feather="x"></span>
                          </a>
                        </div>
                      </div>
                      <div class="dz-message text-body-tertiary text-opacity-85" data-dz-message="data-dz-message">
                        Kéo ảnh vào đây<span class="text-body-secondary px-1">hoặc</span>
                        <button class="btn btn-link p-0" type="button"> hoặc Duyệt từ thiết bị</button>
                        <br/>
                        <img class="mt-3 me-2" src="/assets/img/icons/image-icon.png" width="40" alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-phoenix-primary w-100" type="button" (click)="addProductDetails()">
                Thêm chi tiết sản phẩm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end mt-3 mb-5">
    <div class="col-auto">
      <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" href="/admin/product">
        Quay lại
      </a>
      <button class="btn btn-primary mb-2 mb-sm-0" type="submit">
        Thêm mới
      </button>
    </div>
  </div>
</form>
