<div class="col-12">
  <div class="carousel carousel-fade" id="carouselExampleFade" data-ride="carousel">
    <div class="carousel-inner rounded">
      <div class="carousel-item" style="height: 522px;">
        <img class="d-block w-100" src="assets/img/banner/0.webp" alt="First slide">
      </div>
      <div class="carousel-item" style="height: 522px;">
        <img class="d-block w-100" src="assets/img/banner/1.webp" alt="Second slide">
      </div>
      <div class="carousel-item active" style="height: 522px;">
        <img class="d-block w-100" src="assets/img/banner/2.webp" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
      <span class="fa-solid fa-chevron-left text-dark fs-6" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
      <span class="fa-solid fa-chevron-right text-dark fs-6" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
