<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0">
  <div class="container">
    <div class="ecommerce-topbar">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <div class="row gx-0 gy-2 w-100 flex-between-center">
          <div class="col-auto">
            <a class="text-decoration-none" href="/">
              <div class="d-flex align-items-center">
                <img src="/assets/img/icons/quang-hung-logo.jpg" alt="QuangHung" width="50"/>
                <p class="logo-text ms-2">Kính mắt Quang Hưng</p>
              </div>
            </a>
          </div>
          <div class="col-auto order-md-1">
            <ul class="navbar-nav navbar-nav-icons flex-row me-n2">
              <li class="nav-item" *ngIf="roles.includes('ROLE_USER')">
                <a class="nav-link px-2 icon-indicator icon-indicator-primary" href="javascript:void(0);"
                   (click)="goToCart()">
                  <span class="text-body-tertiary" data-feather="shopping-cart" style="height:20px;width:20px;"></span>
                  <span class="icon-indicator-number">{{ cartNumber }}</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="!isLogin()">
                <a class="nav-link px-2" href="/login" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Đăng nhập">
                  <span class="text-body-tertiary" data-feather="log-in" style="height:20px;width:20px;"></span>
                </a>
              </li>
              <li class="nav-item dropdown" *ngIf="isLogin()">
                <a class="nav-link px-2" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown"
                   data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                  <span class="text-body-tertiary" data-feather="user" style="height:20px;width:20px;"></span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border mt-2"
                  aria-labelledby="navbarDropdownUser">
                  <div class="card position-relative border-0">
                    <div class="card-body p-0">
                      <div class="text-center pt-4 pb-3">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="/assets/img/avatar/avatar-placeholder.webp" alt=""/>
                        </div>
                        <h6 class="mt-2 text-body-emphasis">{{ fullName }}</h6>
                      </div>
                    </div>
                    <div class="overflow-auto scrollbar border-top ">
                      <ul class="nav d-flex flex-column mb-2 pb-1 my-2">
                        <li class="nav-item" *ngIf="roles.includes('ROLE_USER')">
                          <a class="nav-link px-3" href="/thong-tin-ca-nhan">
                            <span class="me-2 text-body" data-feather="user"></span><span>Thông tin cá nhân</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link px-3" href="/don-hang" *ngIf="roles.includes('ROLE_USER')">
                            <span class="me-2 text-body" data-feather="archive"></span><span>Đơn hàng</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link px-3" routerLink="/change-password">
                            <span class="me-2 text-body" data-feather="lock"></span>Đổi mật khẩu
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer p-0 border-top border-translucent">
                      <div class="px-3 my-3">
                        <button class="btn btn-phoenix-secondary d-flex flex-center w-100" (click)="logout()">
                          <span class="me-2" data-feather="log-out"> </span>Đăng xuất
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <div class="search-box ecommerce-search-box w-100">
              <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search form-control-sm" type="search" placeholder="Tìm kiếm"
                       aria-label="Search" name="name" [(ngModel)]="name" (search)="search()"/>
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div><!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
