<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
  <!-- scrollbar removed-->
  <div class="navbar-vertical-content">
    <ul class="navbar-nav flex-column" id="navbarVerticalNav">
      <li class="nav-item">
        <!-- label-->
        <hr class="navbar-vertical-line"/>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" role="button" data-bs-toggle="" aria-expanded="false" href="/admin"
             [class.active]="isExactRoute('/admin')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <span data-feather="home"></span>
              </span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Trang chủ</span></span>
            </div>
          </a>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" role="button" data-bs-toggle="" aria-expanded="false" href="/admin/staff"
             [class.active]="isExactRouteStartWith('/admin/staff')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><span data-feather="user"></span></span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Quản lý nhân viên</span></span>
            </div>
          </a>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" role="button" data-bs-toggle="" aria-expanded="false" href="/admin/customer"
             [class.active]="isExactRouteStartWith('/admin/customer')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><span data-feather="users"></span></span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Quản lý khách hàng</span></span>
            </div>
          </a>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" role="button" data-bs-toggle="" aria-expanded="false" href="/admin/banner"
             [class.active]="isExactRouteStartWith('/admin/banner')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><span data-feather="image"></span></span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Quản lý banner</span></span>
            </div>
          </a>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link dropdown-indicator label-1" href="#nv-category" role="button"
             data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-category"
             [class.collapsed]="!(isExactRouteStartWith('/admin/supplier') || isExactRouteStartWith('/admin/material')
             || isExactRouteStartWith('/admin/shape') || isExactRouteStartWith('/admin/brand'))"
             [attr.aria-expanded]="isExactRouteStartWith('/admin/supplier') || isExactRouteStartWith('/admin/material')
             || isExactRouteStartWith('/admin/shape') || isExactRouteStartWith('/admin/brand')">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
              <span class="nav-link-icon"><span data-feather="box"></span></span>
              <span class="nav-link-text">Quản lý danh mục</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-category">
              <li class="nav-item">
                <a class="nav-link" href="/admin/supplier" data-bs-toggle="" aria-expanded="false"
                   [class.active]="isExactRouteStartWith('/admin/supplier')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Nhà cung cấp</span></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/material" data-bs-toggle="" aria-expanded="false"
                   [class.active]="isExactRouteStartWith('/admin/material')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Chất liệu</span></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/shape" data-bs-toggle="" aria-expanded="false"
                   [class.active]="isExactRouteStartWith('/admin/shape')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Hình dạng</span></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/brand" data-bs-toggle="" aria-expanded="false"
                   [class.active]="isExactRouteStartWith('/admin/brand')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Thương hiệu</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/origin" data-bs-toggle="" aria-expanded="false"
                   [class.active]="isExactRouteStartWith('/admin/origin')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Xuất xứ</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link dropdown-indicator label-1" href="#nv-product" role="button"
             data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-product"
             [class.collapsed]="!(isExactRouteStartWith('/admin/category') || isExactRouteStartWith('/admin/product') || isExactRouteStartWith('/admin/sale'))"
             [attr.aria-expanded]="isExactRouteStartWith('/admin/category') || isExactRouteStartWith('/admin/product') || isExactRouteStartWith('/admin/sale')">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
              <span class="nav-link-icon"><span data-feather="archive"></span></span>
              <span class="nav-link-text">Quản lý sản phẩm</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-product"
                [class.show]="isExactRouteStartWith('/admin/category') || isExactRouteStartWith('/admin/product') || isExactRouteStartWith('/admin/sale')">
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="" aria-expanded="false" href="/admin/category"
                   [class.active]="isExactRouteStartWith('/admin/category')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Danh mục sản phẩm</span></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="" aria-expanded="false" href="/admin/product"
                   [class.active]="isExactRouteStartWith('/admin/product')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Sản phẩm</span></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="" aria-expanded="false" href="/admin/sale"
                   [class.active]="isExactRouteStartWith('/admin/sale')">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Chương trình khuyến mãi</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" href="/admin/order" role="button" data-bs-toggle="" aria-expanded="false"
             [class.active]="isExactRouteStartWith('/admin/order')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><span data-feather="shopping-bag"></span></span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Hóa đơn bán hàng</span></span>
            </div>
          </a>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" href="/admin/receipt" role="button" data-bs-toggle="" aria-expanded="false"
             [class.active]="isExactRouteStartWith('/admin/receipt')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><span data-feather="download"></span></span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Hóa đơn nhập hàng</span></span>
            </div>
          </a>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper py-2">
          <a class="nav-link label-1" href="/admin/report" role="button" data-bs-toggle="" aria-expanded="false"
             [class.active]="isExactRouteStartWith('/admin/report')">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><span data-feather="trending-up"></span></span>
              <span class="nav-link-text-wrapper"><span class="nav-link-text">Báo cáo & Thống kê</span></span>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="navbar-vertical-footer">
  <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
    <span class="feather feather-arrow-left text-body" data-feather="sidebar"></span>
    <span class="navbar-vertical-footer-text ms-2">Thu gọn</span>
  </button>
</div>
