/*Custom ng-select*/
:host ::ng-deep .ng-select .ng-select-container .ng-value-container,
:host ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input,
:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

:host ::ng-deep .ng-select .ng-select-container {
  border: var(--phoenix-border-width) solid var(--phoenix-border-color);
  border-radius: var(--phoenix-border-radius);
}

/*Custom tinymice*/
:host ::ng-deep .tox-promotion,
:host ::ng-deep .tox .tox-statusbar {
  display: none;
}
