<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4">
      <a class="d-flex flex-center text-decoration-none mb-4" href="/">
        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
          <img src="/assets/img/icons/quang-hung-logo-crop.png" alt="quanghung" width="70"/>
        </div>
      </a>
      <div class="px-xxl-5">
        <div class="text-center mb-6">
          <h3 class="text-body-highlight">Đổi mật khẩu</h3>
          <form class="d-flex align-items-center mb-5 row" [formGroup]="changePasswordForm" (submit)="onSubmit()">
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="oldPassword">Mật khẩu cũ</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="oldPassword" type="password" placeholder="Mật khẩu cũ"
                         formControlName="oldPassword"/>
                  <span class="fas fa-key text-body fs-9 form-icon"></span>
                </div>
                <small class="text-danger mt-1" *ngIf="changePasswordForm['controls']['oldPassword'].dirty">
                  <span *ngIf="changePasswordForm['controls']['oldPassword'].errors?.['required']">
                    Mật khẩu cũ không được để trống
                  </span>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="newPassword">Mật khẩu mới</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="newPassword" type="password"
                         placeholder="Mật khẩu mới" formControlName="newPassword"/>
                  <span class="fas fa-key text-body fs-9 form-icon"></span>
                </div>
                <small class="text-danger mt-1" *ngIf="changePasswordForm['controls']['newPassword'].dirty">
                  <span *ngIf="changePasswordForm['controls']['newPassword'].errors?.['required']">
                    Mật khẩu mới không được để trống
                  </span>
                  <div
                    *ngIf="changePasswordForm['controls']['newPassword'].errors?.['minlength'] || changePasswordForm['controls']['newPassword'].errors?.['maxlength']">
                    Mật khẩu phải dài từ 8 đến 20 ký tự
                  </div>
                  <span *ngIf="changePasswordForm['controls']['newPassword'].errors?.['pattern']">
                    Mật khẩu phải có ít nhất 1 chữ hoa, 1 chữ thường, 1 số, 1 ký tự đặc biệt và dài hơn 8 ký tự
                  </span>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-start">
                <label class="form-label" for="newPassword">Xác nhận mật khẩu</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" id="confirmPassword" type="password"
                         placeholder="Xác nhận mật khẩu" formControlName="confirmPassword"/>
                  <span class="fas fa-key text-body fs-9 form-icon"></span>
                </div>
                <small class="text-danger mt-1" *ngIf="changePasswordForm['controls']['confirmPassword'].dirty">
                  <span *ngIf="changePasswordForm['controls']['confirmPassword'].errors?.['required']">
                    Mật khẩu không được để trống
                  </span>
                  <span
                    *ngIf="!changePasswordForm['controls']['confirmPassword'].errors?.['required'] && changePasswordForm.errors?.['mismatch']">
                    Mật khẩu không khớp
                  </span>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 text-end">
                <a class="btn btn-phoenix-secondary me-2" href="/">Hủy</a>
                <button class="btn btn-primary" [disabled]="changePasswordForm.invalid">
                  <span [class.d-none]="isLoaderDisplayNone">Đổi mật khẩu</span>
                  <span class="indicator-progress" [class.d-none]="!isLoaderDisplayNone">
                    Vui lòng chờ...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
